body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Form - Description text area*/
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

/*Form - Button*/
button {
  width: 100%;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
#buttonDisable{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
#buttonEnable{
  background-color: #4CAF50;
  color: white;
}

/*Form - errors display*/
#error {
  color: red;
  font-size: medium;
  text-align: left;
}

/*Form - Text and number*/
input[type=text], input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=text]:focus {
  border: 3px solid #555;
}

/*Form - NPA*/
#npa {
  width: 30%;
  margin-right: 5px;
}

/*Form - City*/
#city {
  width: 68%;
  margin-left: 5px;
}

/*Form - Latitude*/
#latitude {
  color: lightgrey;
  width: 49%;
  margin-right: 5px;
}

/*Form - Longitude*/
#longitude {
  color: lightgrey;
  width: 49%;
  margin-left: 5px;
}

/*Div up - map*/
#up {
  /*float: left;*/
  width: 100%;
  overflow: hidden;
  height: 67vh;
  /*margin-bottom: 10px;*/
}

/*Div down - form*/
#down {
  /*float: right;*/
  width: 100%;
  overflow: hidden;
}

#establishmentType{
  width: 20%;
}

/*Map*/
.leaflet-container{
  width: 100%;
  height: 100vh;
}
#establishmentListMap{
  /*width: 200%;*/
  /*overflow: hidden;*/
  height: 50vh;
  /*float: right;*/
}